*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto 7% auto;
}

.head-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1{
    text-align: center;
    margin: 3% 0 4% 0;
    font-weight: 200;
    font-size: 250%;
}

.data-results{
    display: grid;
    grid-gap: 20px;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}

.user{
    background-color: #555;
    padding: 10px;
    border-radius: 8px;
    line-height: 2.0;
    font-weight: 300;
    letter-spacing: 2.2;
}

.user h2{
    font-weight: 300;
    font-size: 120%;
}

.user p{
    font-size: 120%;
}

button{
    border: none;
    background: #ccc;
    padding: 10px 20px;
    font-size: 110%;
    border-radius: 6px;
    margin-bottom: 5%;
    outline: none;
    transition: transform 0.2s;
}

button:focus{
    outline: none;
}

button:hover{
    transform: scale(1.06);
}